.signup {
    background-color: $color-gray-light;
    min-height: 100vh;

    &__wrap {
        &--inner {
            background-color: $color-white;
            border: 1px solid $color-gray-dark;
            border-radius: 0.5rem;
            #signup-form {

            }
        }

        &--footer {
            p {
                a:link, a:visited {
                    color: darken( $color-gray-darker, 20);
                    transition: all .3s ease-in-out;

                    &:hover, &:active {
                        color: $color-gray-darker;
                        text-decoration: none;
                    }
                }
            }
            p:last-child {
                margin-top: -1rem;
            }
        }
    }
}